.header-bar{
	@autoscale-width();
	margin: auto;
}

.filter-hidden{
	display: none;
}

.spell-description{
	@autoscale-width();
	margin: auto;
}

.line{
	width: 100%;
	border-bottom: solid 1px #000000
}

.spell-bin{
	@autoscale-width();
	border-top: solid 1px #000000;
	margin: auto;
	margin-top: 25px;
}

.spell-title{
	margin-left: 50px;
}

.spell-name{
}

.level-header{
	margin: 10px;
	font-size: 24px;
}

.spell{
	margin-left: 50px;
	font-size: 18px;
}

.filler{
	width: 100px;
	height: 0px;
}

.filter-bar{
	display: block;
	margin: 1%;
	padding: 5px;
	width: 98%;
}

.title{
	display: block;
	flex-grow: 0;
	width: 200px;
	margin: 1%;
	border-bottom: 50px;
	font-weight: 800;
	font-size: 20px;
}

.attribute-selector{
	min-width: 125px;
}

.class-selector{
	display: inline-flex;
	direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	margin: 1%;
}

a{
	color: black;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

@autoscale-width: {
	width: `Math.max(Math.min(1200,Math.floor((window.innerWidth*.9)/150)*150),200)`;
};